$base-font-family: 'IBM Plex Sans', sans-serif;

$base-font-family-alternative: 'MarkPro', monospace;

$base-block-family-code: 'IBM Plex Mono', monospace;

$base-containers: (
  default: $base-container-size,
  medium: 1094px,
  small: 867px,
  smaller: 640px,
);

:root {
  --ifm-navbar-height: 100px;
  --ifm-navbar-sidebar-width: 90vw;
}
