$why: (
  why: (
    mobile: (
      padding: 0 0 96px,
    ),
    tablet: (
      padding: 0 0 128px,
    ),
  ),
  heading: (
    mobile: (
      max-width: 580px,
    ),
  ),
);

.shift-why {
  @include responsive($why, why);

  &__shift-heading {
    @include responsive($why, heading);
  }
}
